body {
    padding: 65px;
}

.view {
    left: 60px;
    position: relative;
    opacity: 0.0;
}
ul{
    list-style-type: none;
}

/* Bootstrap overrides */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar-default .navbar-nav>li>a:hover, .navbar .container a:hover{
    color: rgba(48, 139, 255, 0.99);
}
.nav .nav-pills .nav-stacked .dropdown-menu li a:hover{
    color: rgba(255, 255, 255, 0.99);
}


.flyover {
    left: 150%;
    overflow: hidden;
    position: fixed;
    width: 50%;
    opacity: 0.9;
    z-index: 1050;
    -webkit-transition: left 0.6s ease-out 0s;
    transition: left 0.6s ease-out 0s;
}

.flyover-centered {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.flyover-bottom {
    bottom: 10px;
}

.flyover.in {
    left: 50%;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.btn.active {
    background-color: #f7f7f7;
}

.novalidate {
    border-left: none !important;
}

a {
    cursor: pointer;
}


.my-drop-zone { border: dotted 3px lightgray; }
.ng-file-over { border: dotted 3px red; }


.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 600px;
}

.leaflet-control-layers.leaflet-control {
    display: none;
}
.leaflet-control-loading {
    background: url(images/spinner.gif);
}

.btn-droppable { width: 180px; height: 40px; padding-left: 4px; }
.btn-draggable { width: 160px; }

.ngHeaderActionButton {
    position: absolute;
    right: 20px;
    top: 8px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    z-index: 1;
    background-color: #9fbbb4;
    cursor: pointer;
}
.ngCellHeaderActionButton {
    position: absolute;
    right: 2px;
    top: 8px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    z-index: 1;
    background-color: #9fbbb4;
    cursor: pointer;
}
.ngColActionMenu {
    right: 2px;
    padding: 5px;
    top: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #bdd0cb;
    position: absolute;
    border: 2px solid #d4d4d4;
    z-index: 99999;
}
.ngColListActionCheckbox {
    position: relative;
    right: 3px;
    top: 4px;
}
.ngColActionList {
    list-style-type: none;
    margin-top: 2px;
    margin-left: 8px;

}
.ngColActionListItem {
    white-space: nowrap;
}
.ngActionMenuText {
    position: relative;
    top: 2px;
    left: 2px;
}
.ngHeaderContainer{
    overflow: visible;

}
.actionMenuShow{
    display: block;
}
.actionMenuHide{
    display: none !important;
}
.animate-move {
    position: relative;
    top: 26px;
}

.animate-move.animate-move-active {
    transition: all 0.5s ease;
    top: 0;
    opacity: 1.0;
}

.animate-move + div {
    /* cannot have transition on this element */
    /*transition: all 1s ease;*/
    position: relative;
    top: -26px;
}

.animate-move.animate-move-active + div {
    position: relative;
    transition: all 0.5s ease;
    top: 0;
    opacity: 1.0;
}

.animate-enter {
    position: relative;
    opacity: 0.0;
    height: 0;
    left: 100px;
}

.animate-enter.animate-enter-active {
    transition: all 0.5s ease;
    opacity: 1.0;
    left: 0;
    height: 26px;
}


.animate-leave {
    position: relative;
    opacity: 1.0;
    left: 0;
    height: 26px;
}

.animate-leave.animate-leave-active {
    transition: all 0.5s ease;
    opacity: 0.0;
    left: 100px;
    height: 0;
    top: -13px;
}
